@using GummiBear.Models

@model IEnumerable<GummiBear.Models.Product>
@{
    ViewData["Title"] = "Products Page";
}


<h3>Products</h3>  

<div class="container" id="productDetails">
 
    <ul>
        @foreach(var product in Model)
        {
            <li><strong>@Html.DisplayFor(modelProduct => product.Name)</strong>       
                @Html.ActionLink("Details", "Details", new { id = product.ProductId })
                |  @Html.ActionLink("Edit", "Edit", new { id = product.ProductId })
                | @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })
                 |  @Html.ActionLink("Reviews", "Index", "Reviews", new { id = product.ProductId}) 
            </li>
        }
    </ul>
</div>
   <p>@Html.ActionLink("Add new product", "Create")</p>

 </div>        